@import '../../../styles/variables';

.RoomSingleView {
  .card { 
    padding: 0;
  } img {
    width: 80%;
    height: auto;
    border-radius: 80%;
    border: solid 2px $lime
  } h2 {
    text-decoration: underline;
  } 
}
